
<h2><%= @bookmarks.title %></h2>
<strong><a href="<%= @bookmarks.url %>"><%= @bookmarks.url %></a></strong>
<p><%= @bookmarks.details %></p>

<strong>Genre: <%= Genre.find(@bookmarks.genre_id).genre %></strong>
<p><a href="/bookmarks">Back</a></p>